@page
@model GameMaster.Pages.PlayerView.LeaderboardModel
@{
    ViewData["Title"] = "Leaderboard";
    int counter = 0;
}

<h2 class="text-dark">Leaderboard</h2>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th class="col-auto" scope="col">Rank</th>
            <th class="col-auto" scope="col">Name</th>
            <th class="col-auto" scope="col">Score</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Players is not null)
        {
            @foreach (var player in Model.Players)
            {
                counter++;
                <tr>
                    <th scope="row">@counter</th>
                    <td><a asp-page="ViewPlayer" asp-route-name="@player.Name">@player.Name</a></td>
                    <td>@player.Score</td>
                </tr>
            }
        }
    </tbody>
</table>