@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger text-center">Error.</h1>
<h2 class="text-danger text-center">You do not have access to this page</h2>

@if (Model.ShowRequestId)
{
    <p class="text-center">
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
