@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@{ 
    var claims = Context.User.Claims;

    var name = claims.Where(x => x.Type == System.Security.Claims.ClaimTypes.Name).Select(x => x.Value).FirstOrDefault();

    var userRole = claims.Where(x => x.Type == System.Security.Claims.ClaimTypes.Role).Select(x => x.Value).FirstOrDefault();
    int? userRoleId = 0;
    if (userRole is not null)
    {
        userRoleId = Int16.Parse(userRole);
    }
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-page="/Index">GameMaster</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/PlayerView/Leaderboard">Leaderboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/PlayerView/ViewPlayer">View Player</a>
                </li>
                @if (userRoleId == GameMaster.Constants.Role.Business || userRoleId == GameMaster.Constants.Role.Admin)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Business/ViewPlayer">View Player</a>
                    </li>
                }
                @if (userRoleId == GameMaster.Constants.Role.GameMaster || userRoleId == GameMaster.Constants.Role.Admin)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/GameMaster/"></a>
                    </li>
                }
                @if (userRoleId == GameMaster.Constants.Role.Admin)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/GameMaster/"></a>
                    </li>
                }
            </ul>
            <ul class="navbar-nav flex-grow-1 d-sm-inline-flex flex-sm-row-reverse">
                @if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <form asp-area="Identity" asp-page="/Account/Logout" method="post">
                            <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link btn btn-link text-dark" asp-area="Identity">Hello, @name</div>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>